<!DOCTYPE html>
<html lang="{% if rtl is defined and rtl %}fa" dir="rtl" style="direction: rtl{% else %}en{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title|raw }}</title>
        <meta name="description" content="{{ description|raw }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/27.2.2/font-face.css">
        {{ pmpr_do_action('panel_head') }}
    </head>
    <body class="{{ body_class|raw }}">
        <noscript>
            <strong>{{ enable_js_message }}</strong>
        </noscript>
        <div id="app">
          <div class="page-loader page-loader-logo" v-if="isShow">
              {% if logo_url is not empty %}
                <img src="{{ logo_url|esc_attr }}" class="img-fluid mx-auto" width="50px" alt="logo">
              {% endif %}
            <div class="spinner spinner-primary spinner-lg" :class="`spinner-${size}`"></div>
          </div>
        </div>
        <script>
            {% for config, value in inline_config %}
                window.{{ config|raw }} = '{{ value|raw }}';
            {% endfor%}
        </script>
        {{ pmpr_do_action('panel_footer') }}
    </body>
</html>

